<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ site.name }}</title>
        <meta charset="utf-8">
        <meta http-equiv="cleartype" content="on">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="keywords" content="{{ site.keywords }}">
        <meta name="description" content="{{ site.description }}">
        <meta name="author" content="{{ site.author }}">
        <link rel="author" href="humans.txt">
        <link rel="home" href="{{ site.baseurl }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="dist/grabme.css?v1" media="all" rel="stylesheet">
        <link rel="icon" href="/dist/images/grabme-favicon.png?v1">
        <link href="https://fonts.googleapis.com/css?family=Asap:400,700&amp;subset=latin-ext" rel="stylesheet">
    </head>

    <body>
        <div style="display: none;">
            {% include symbols.svg %}
        </div>

        {{ content }}
    </body>
</html>
